<div id="navigation_violet">
	<ul class="navi"><p>
		<li><strong><%= link_to "Adressen", adressen_path %></a></li></strong>
		<li><strong><%= link_to "| Contact Opnemen", contact_path %></a></li></strong>
		<li><strong><%= link_to "| Veel gestelde vragen", faq_path  %></a></li></strong>
		<li><strong><%= link_to "| Handige Links", links_path  %></a></li></strong>
		<li><strong><a href="#">| Vacatures |</a></li></p></strong>
	</ul>
</div>
<div id="content">
<h1 id="violet">Adressen</h1>
<ul>
	<li><p>Adresgegevens</p></li>
	<li><p>WMO Leeuwarden</p></li>
	<li><p>Nieuw Sonnenborgh 58</p></li>
	<li><p>8916 DA Leeuwarden</p></li>
	<li><p>T 058 - 212 74 15</p></li>
	<li><p>M 06 - 46 29 33 29</p></li>
	<li><p><%= link_to "E info@wmo-leeuwarden.nl", contact_path %></p></li>
</ul>

</div>