<footer>
<div id="footercenter">
 
	<ul class="footnav">
	<li><strong>Navigatie</strong></li>
	<li><%= link_to 'Home', root_path %></a></li>
	<li><%= link_to 'Over ons', about_path %></a></li>
	<li><%= link_to 'Informatie', informatie_path %></a></li>
	<li><%= link_to 'Actueel', nieuwsoverzicht_path %> </a></li>
	<li><%= link_to 'Meldpunt', meldpunt_path %></a></li>
	<li><%= link_to 'Contact', contact_path %></a></li>
	</ul>    



	<ul class="footnav">
	<li><strong>Site</strong></li>
	<li><a href="sitemap.html">Sitemap</a></li>
	<li><a href="privacy.html">Privacy statement</a></li>
	</ul>

	<ul class="footnav">
	<li><strong>Adresgegevens</strong></li>
	<li>WMO Leeuwarden</li>
	<li>Nieuw Sonnenborgh 58</li>
	<li>8916 DA  Leeuwarden</li>
	<li><strong>T</strong>   058 - 212 74 15</li>
	<li><strong>M</strong>   06 - 46 29 33 29</li>
	<li><strong>E</strong>   <a href="mailto:info@wmo-leeuwarden.nl">info@wmo-leeuwarden.nl</a></li>
	</ul>
	</div>
</footer>

	</body>